@page "/about"
@using MyFamily.Models;

<PageTitle>About</PageTitle>

<h1>About</h1>
<h3>AppInfo</h3>
<table>
    <tr>
        <td>App Name</td>
        <td>@AppInfo.Global.Name</td>
    </tr>
    <tr>
        <td>App Version</td>
        <td>@AppInfo.Global.AppVersion</td>
    </tr>
    <tr>
        <td>CG4 Version</td>
        <td>@AppInfo.Global.CG4Version</td>
    </tr>
    <tr>
        <td>CG4 Released</td>
        <td>@AppInfo.Global.CG4CommitDate</td>
    </tr>
</table>

@code {

}
